name: Release

on:
  workflow_dispatch:
  push:
    branch:
      - main
      - refine-release

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    # Do not run release workflow on forks
    if: github.repository_owner == 'cblkwell'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install dependencies
        run: |
          npm install \
            @semantic-release/changelog@6.0.3

      - name: Release
        uses: cycjimmy/semantic-release-action@v5
        with:
          semantic_version: 25.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
